div{
    background-color:rgb(25, 25, 230);
    color: black;
    height:1000px;
    width: 35%;
    border: solid;
    border: none;
    border-radius: 10px;
}
#in{
     padding: 5px;
    margin-left: 50px;
    margin-top: 20px;
    width: 60%;
    border-radius: 5px;
    border: none;
    height: 30px;
    margin-bottom: 10px;
}
#add{
    width: 70px;
    height: 35px;
    margin-left: 20px;
    background-color: rgb(22, 181, 22);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#delete{
 width: 50px;
    height: 30px;
    margin-left:87px;
    background-color: rgb(186, 10, 10);
    color:white;
    border: none;
    border-radius: 10px;
    margin-left: 40px ;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}   

li{
    background-color: yellow;
    margin-bottom: 10px;
    width: 95%;
    color: white;
    margin-left: 1px;
    border-radius: 10px;
    color: black;
}
body{
    display: flex;
    justify-content: center;
}
#add:active{
    background-color: rgb(9, 243, 9);
}
#delete:active{
   background-color: rgb(250, 7, 7);   
}


    
